{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AlecrimDourado{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'prestacao.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="botoes">
            <a href="{% url 'home' %}">
                AlecrimDourado
            </a>
        </div>
        <div class="navbar">
            <a class="header" href="{% url 'prestacao' %}">
                <i class="fa-regular fa-weight-scale"></i>
                <span>
                    Prestações / Financeiro
                </span>
            </a>
        </div>
    </nav>
    <div class="conteudo">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
