{% load static %}

<!DOCTYPE html>
<html language ="en">
    <head>
        <meta charset="UTF-8">
        <title> AlecrimDourado - Home </title>
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        {% include 'partials/_barra.html' %}
            <div class="max-width">
                <div class="homme-content">
                    <p class="TextoOla">Olá!</p> 
                    <p class="textoPrincipal"> Somos o Gotas de Flor com Amor, uma ONG focada em dar apoio à crianças em situação de vulnerabilidade social. 
                        Focamos na realização de projetos relacionados a educação, arte e etc.</p>
              </div>  
              <img src="{% static 'images/imagemA.jpg' %}" alt="{{ image.title }}" class="imagem">
                </div>
            </div>
     
    </body>
</html>