
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"> 

    <title>Login Gotas</title>
</head>
<body>
<div class="login">
<div >
    
    <div class="col-md-4 offset-md-4">
        <img src="{% static 'images/logo.jpg' %}" alt="Minha Logo" width=300 height= 300 class="logo">
            <div class="body">
                <form method="post">
                        {% csrf_token %} 
                        {{ form.as_p }}
                        <p class="change-form-p">ESQUECI MINHA SENHA</p>
                    </form>
                    <input type="submit" value="ENTRAR" class="buttonSub">
                
            </div>
    </div>
</div>
</div>
</body>
