{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Gestor</title>

    <link rel="stylesheet" href="{% static 'somos.css' %}">
</head>
<body>
    {% include 'partials/_barra.html' %}
<div class="profile-card">
    <div class="profile-card">
        <h2>Perfil do Gestor</h2>
        <p>Nome: ------</p>
        <p>Data de Nascimento: xx/xx</p>
        <p>Idade: 00</p>
        <p>Sexo: M/F</p>
    </div>

<div class="additional-info">
    <h3>Lista de Presença</h3>
    <!-- Adicione a lista de presença aqui -->

    <h3>Atividades</h3>
    <!-- Adicione a lista de atividades aqui -->

    <h3>Turmas</h3>
    <!-- Adicione a lista de turmas aqui -->

    <h3>Relatórios</h3>
    <!-- Adicione a lista de relatórios aqui -->
</div>

</body>
</html>
