{% load static %}

<header class=" header">
    <a ref="#" class="logo">
        <i class = "fas fa-dumbell"></i>Alecrim Dourado
    </a>
    <nav class="navbar">
        <a= href="#" class="botoes">Home</a>
        <a= href="#" class="botoes">Sobre</a>
        <a href="{% url 'prestacao' %}" class="botoes">Prestações</a>
        <a href="{% url 'eventos' %}" class="botoes">Eventos</a>
        <a= href="#" class="botoes">Contatos</a>
        <a= href="#">|</a>
        <a href="{% url 'login' %}" class="btn">Login</a>
        <a href="{% url 'cadastro' %}" class="btn">Cadastro</a>
    </nav>
</header>