{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Full Body Action</title>
  <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="botoes">
      <a href="{% url 'home' %}">
        AlecrimDourado
      </a>
    </div>
    <div class="botoes">
      <a class="header href="{% url 'prestacao' %}">
        <i class="fa-regular fa-weight-scale"></i>
        <span>
          Prestacao
        </span>
      </a>
    </div>
  </nav>
  <div class="conteudo">
    {% block conteudo %}{% endblock %}
  </div>
</body>
</html>
