{% load static %}

<!DOCTYPE html>
<html language ="en">
    <head>
        <meta charset="UTF-8">
        <title> AlecrimDourado - Home | By code info</title>
        <link rel="stylesheet" href="{% static 'home.css' %}">


    </head>
    <body>
        <header class=" header">
            <a ref="#" class="logo">
                <i class = "fas fa-dumbell"></i>Alecrim Dourado
            </a>
            <nav class="navbar">
                <a= href="#" class="botoes">Home</a>
                <a= href="#" class="botoes">Sobre</a>
                <a href="{% url 'prestacao' %}" class="botoes">Prestações</a>
                <a= href="#" class="botoes">Eventos</a>
                <a= href="#" class="botoes">Contatos</a>
                <a= href="#">|</a>
                <a href="{% url 'login' %}" class="btn">Login</a>
                <a href="{% url 'cadastro' %}" class="btn">Cadastro</a>
            </nav>
        </header>

        <section class="home">
            <div class="max-width">
                <div class="homme-content">
                    <h3>Alecrim  Dourado</h3> 
                    <p class="textoPrincipal"> Olá! Somos o Alecrim Dourado, grupo número 08 da disciplina de projetos, formado por alunos<br>
                    do segundo período da graduação de Design e de Ciência da Computação.
                    </p>
              </div>  
                <a href="https://gotasdeflor.org.br" class="doar">Doe Agora!</a><br>
                <div class= ".home-image">
                    <img scr = "" alt="Descrição da imagem">
                </div>
            </div>
        </section>
    </body>
</html>