{% load static %}

<!DOCTYPE html>
<html language ="en">
    <head>
        <meta charset="UTF-8">
        <title> AlecrimDourado - Home | By code info</title>
        <link rel="stylesheet" href="{% static 'home.css' %}">


    </head>
    <body>
        <header class=" header">
            <a ref="#" class="logo">
                <i class = "fas fa-dumbell"></i>AlecrimDourado
            </a>
            <nav class="navbar">
                <a= href="#">Home</a>
                <a= href="#">Sobre nós</a>
                <a= href="#">Prestações</a>
                <a= href="#">Eventos</a>
                <a= href="#">Contatos</a>
                <a= href="#">|</a>
                <a= href="#">Login</a>
                <a= href="#" class="btn">Cadastro</a>
            </nav>
        </header>

        <section class="home">
            <div class="max-width">
                <div class="homme-content">
                    <h3>Alecrim <br> Dourado</h3> 
                    <p> Olá! Somos o Alecrim Dourado, grupo número 8 da disciplina de projetos, 
                    formado por alunos do segundo período da graduação de Design e de Ciência da Computação. 
                    Temos como objetivo proporcionar uma solução inovadora ao problema do cliente apresentado para nós 
                    e documentar o processo e conclusão nesse site, que também deve servir como repositório de informações</p>
                    <button> Participe!</button>
                </div>
                <div class= ".home-image">
                    <img scr = "" alt="Descrição da imagem">
                </div>
            </div>
        </section>
    </body>
</html>