@charset "UTF-8";

body {
    background-color: #96DBE2;
}


@media (max-width: 768px) {
    .header {
        padding: 1rem 4%;
    }

    .header .logo {
        font-size: 24px;
        margin-right: 1rem;
    }

    .header .navbar {
        margin-right: 1rem;
    }

    .header .navbar a {
        font-size: 14px;
        margin: 0 1rem;
    }
   
}
