@charset "UTF-8";


.TextoOla {
    font-size: 55px;
    font-weight: bold;
    color:#0A0C38;
    margin-top: 100px;
}
body {
    background-color: #96DBE2;
}
.textoPrincipal{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color:#0A0C38;
}


@media (max-width: 768px) {
    .header {
        padding: 1rem 4%;
    }

    .header .logo {
        font-size: 24px;
        margin-right: 1rem;
    }

    .header .navbar {
        margin-right: 1rem;
    }

    .header .navbar a {
        font-size: 14px;
        margin: 0 1rem;
    }
   
}
