/* Reset de estilos para garantir uma base limpa */
body, h1, h2, h3, h4, p, ul, li, form, input {
    margin: 0;
    padding: 0;
}

body {
    background-color: #70b4bb;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    text-align: center;
}

form input {
    margin-bottom: 15px; 
    border-radius: 10px;
}

form input[type="submit"] {
    background-color: #7f81f5;
    color: #613e0b;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.change-form-p {
    text-align: center;
    margin-top: 40px;
}

.change-form-p a {
    color: #7a3e05;
    text-decoration: none;
}

.change-form-p a:hover {
    text-decoration: underline;
}
