.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    padding-top: 170px;
    padding-bottom: 10px;
    height: 100%; 
    padding-left: 170px;
}

.topic {
    width: 70%;
    height: 100px;
    background-color: #f5b47f;
    color: #613e0b;
    line-height: 100px;
    border: 2px solid #333;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
}

.topic h2 {
    font-size: 20px;
    margin: 0;
}
