{% extends 'base.html' %}

{% block title %}Nova Página - {{ ano }} - {{ mes }} - AlecrimDourado{% endblock %}

{% block content %}
  <h1>Nova Página - {{ mes }} - {{ ano }}</h1>
  <form method="post">
    {% csrf_token %}
    <label for="titulo">Título:</label>
    <input type="text" name="titulo" required><br>
    <label for="bloco_de_notas">Bloco de Notas:</label>
    <textarea name="bloco_de_notas" required></textarea><br>
    <button type="submit">Salvar</button>
  </form>
  <a href="{% url 'lista_paginas' ano=ano.ano mes=mes %}">Cancelar</a>
{% endblock %}
